@import 'reset.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.main-btn {
  display: flex;
  justify-content: flex-end;

  .bg-btn {
    margin: 20px;
    padding: 20px 20px;
    border-radius: 30px;
    background-color: beige;
    cursor: pointer;

    .btn_text {
      span {
        font-weight: bold;
      }
    }
  }
}

/* dark mode */
.dark {
  background-color: black;
  color: white;
  transition: all 1s ease;
}

.white {
  background-color: white;
  color: black;
  transition: all 1s ease;
}

header {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 50px;
  }
}

main {
  section {
    width: 100%;
    height: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      width: 300px;
      height: 200px;
      text-align: center;

      h2 {
        margin-bottom: 50px;
      }
    }

    .color_fliper,
    .coordinates,
    .rabbit {
      a {
        &:hover {
          transition: color 0.5s ease-in-out;
          color: blueviolet;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    width: 80%;
    font-size: 15px;

    h1 {
      font-size: 35px;
    }
  }

  .main-btn {
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  main {
    section {
      width: 80%;
      height: 100%;
      font-size: 12px;
      justify-content: center;
      flex-wrap: wrap;

      div {
        width: 40%;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 60%;
    font-size: 15px;
  }

  main {
    section {
      width: 60%;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    width: 40%;
    font-size: 12px;

    h1 {
      font-size: 20px;
    }
  }

  .main-btn {
    .bg-btn {
      padding: 12px 12px;
    }
  }

  main {
    section {
      width: 40%;
      font-size: 10px;
      flex-direction: column;
      align-items: center;

      div {
        width: 60%;
        height: 100px;
      }
    }
  }
}
